@page
@model IndexModel
@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <h1 class="display-4">Hello Everyone</h1>
    <p>This is a testing page built by <a href="https://www.linkedin.com/in/priyam-patra-70bbb7285">Priyam Patra</a>.</p>
</div>
